a.out

## kvbench
*.proto.dat

## CMake
build/
src/combotree_config.h
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

## VSCode
.vscode/
